# Ignore history files:

**/.*_hist*

# Ignore builds:
**/icalia-sdk*.gem

**/.gem

# Ignore rspec state
**/.rspec_status

# Ignore semaphore ci compose - it's generated in the pipeline:
/.semaphore/ci-compose.yml

# Ignore dotenv files:
**/*.env
!**/*example.env

# Ignore Bundler caching:
.bundle
